body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("./src/bg.svg");
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: #282845;
  padding: 40px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: fit-content;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5);
}

.register-container h2 {
  margin: auto;
  margin-bottom: 40px;
  font-size: 2em;
  color: #00FF9C;
}

.register-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 5px;
  color: #ccc;
}

.register-container input, select {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(81, 71, 105);
  color: #fff;
  font-size: 1em;
}

.register-container input::placeholder {
  color: #aaa;
  opacity: 1; 
}

.register-container button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #00FF9C;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px #00FF9C;
}

.register-container button:hover {
  background-color: #00e68a;
}

.register-container button:active  {
  background-color: #0ca065;
  box-shadow: none;
}

.register-container .login {
  margin-top: 20px;
  text-decoration: none;
}

.register-container .login a {
  color: #00FF9C;
}

.data-container {
  display: flex;
  gap: 20px;
}


.data {
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
}

.footer h2 {
  font-size: 2em;
}

.green {
  color: #00e68a;
}