.register-container {
    background-color: var(--container-primary-bg-color);
    padding: 40px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: fit-content;
    box-shadow: 1px 10px 20px var(--shadow-dark-color);
}

.register-container h2 {
    margin: auto;
    margin-bottom: 40px;
    font-size: 2em;
    color: var(--green-color);
}

.register-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin-bottom: .5rem;
    color: var(--label-light-color);
}

.register-container input,
select {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--input-font-active-color);
    font-size: 1em;
}

.register-container input::placeholder {
    color: var(--input-font-placeholder-color);
    opacity: 1;
}


select {
    color: var(--input-font-active-color);
}

select:invalid {
    color: var(--input-font-placeholder-color);
}

option {
    color: var(--input-font-active-color);
}

option:disabled {
    color: var(--input-font-placeholder-color);
}

.register-container button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-green-color);
    color: var(--button-font-dark-color);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px var(--button-green-color);
}

.register-container button:hover {
    background-color: var(--button-hover-green-color);
}

.register-container button:active {
    background-color: var(--button-click-green-color);
    box-shadow: none;
}

.register-container .login {
    margin-top: 20px;
    text-decoration: none;
}

.register-container .login a {
    color: var(--green-color);
}

.data-container {
    display: flex;
    gap: 20px;
}


.data {
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
}

.footer h2 {
    font-size: 2em;
}