<div class="navbar-container container js-navbar">
    <div class="activities-container">
        <a href="/home">
            <div class="logo">
                <img src="/src/images/logo.png" alt="logo">
                <h2><span class="green">Gym</span>Esc</h2>
            </div>
        </a>

        <a href="/workouts">
            <div class="button workouts">
                <img src="/src/icons/workout.svg" alt="gym weight" class="icon">
                <img src="/src/icons/workout_black.svg" alt="gym weight" class="icon black">
                <span>Treinos</span>
            </div>
        </a>

        <a href="/exercises">
            <div class="button exercises">
                <img src="/src/icons/weight.svg" alt="gym weight" class="icon">
                <img src="/src/icons/weight_black.svg" alt="gym weight" class="icon black">
                <span>Exercícios</span>
            </div>
        </a>
    </div>
    <div class="setting-container">
        <a href="/settings">
            <div class="button settings">
                <img src="/src/icons/gear.svg" alt="gear" class="icon">
                <img src="/src/icons/gear_black.svg" alt="gear" class="icon black">
                <span>Configurações</span>
            </div>
        </a>

        <a href="/login">
            <div class="button login red">
                <img src="/src/icons/exit.svg" alt="exit" class="icon">
                <img src="/src/icons/exit_black.svg" alt="exit" class="icon black">
                <span>Sair</span>
            </div>
        </a>
    </div>
</div>
