:root {
    --table-main-gray-color: #ddd;
    --table-main-gray-light-color: #ddddddcc;
    --table-row-deleted-color: #ff6e6e38;
    --table-row-received-color: rgba(100, 255, 0, 0.22);
}

.list-container {
    width: 100%;
    overflow-x: auto;
}

.list {
    width: 100%;
    border-spacing: 0;
    border-radius: .8rem .8rem 0 0;
    border: .1rem solid var(--table-main-gray-color);

}

.list th {
    background-color: var(--table-main-gray-color);
    padding: 1rem .8rem;
}

.list th:first-child {
    border-top-left-radius: .7rem;
}

.list th:last-child {
    border-top-right-radius: .7rem;
}

.list tr:has(td) {
    transition: .2s ease-in-out;
}

.list tr:hover {
    background-color: var(--table-main-gray-light-color);
}

.list td {
    border-bottom: .1rem solid var(--table-main-gray-color);
    border-top: .1rem solid transparent;
    border-left: .1rem dashed var(--table-main-gray-light-color);
    padding: .4rem 1rem;
    white-space: nowrap;
    overflow-x: hidden;
}

.list td.data-value {
    text-align: center;
}

.list td.data-actions {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    gap: .5rem;
}