.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1200px;
}

.login-info {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.login-info h1 {
    text-align: left;
    font-size: 2.2em;
    color: var(--green-color);
}

.illustration {
    margin-top: 20px;
}

.illustration img {
    width: 100%;
    min-width: 450px;
    height: auto;
}

.login-form {
    padding: 40px;
}

.login-container {
    flex: 1;
    background-color: var(--container-primary-bg-color);
    padding: 40px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    max-width: 250px;
    margin-top: 5%;
    align-items: center;
    box-shadow: 1px 10px 20px var(--shadow-dark-color);
    height: 50%;
}

.login-form h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 2em;
    color: var(--green-color);
}

.login-form form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.login-form label {
    margin-bottom: 5px;
    color: var(--label-light-color);
}

.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--input-bg-color);
    color: var(--input-font-active-color);
    font-size: 1em;
}

.login-form input::placeholder {
    color: var(--input-font-placeholder-color);
    opacity: 1;
}

.login-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-green-color);
    color: var(--button-font-dark-color);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px var(--button-green-color);
}

.login-form button:hover {
    background-color: var(--button-hover-green-color);
}

.login-form button:active {
    background-color: var(--button-click-green-color);
    box-shadow: none;
}

.login-form .register {
    margin-top: 20px;
    text-decoration: none;
}

.login-form .register a {
    color: var(--green-color);
}

.footer {
    padding-left: 40px;
}

.footer h2 {
    font-size: 2em;
}
